<style>
body {
  margin: 0;
  padding: 0;
  background-color: #333; 
  color: #fff;
}
.x1{
  
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.overlay-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  text-align: center;
}
</style>